@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

header{
    width: 100%;
    height: 70px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wishlist-text{
    padding-right: 40px;
    color: white;
    font-weight: 700;
}

#input-search{
    width: 300px;
    height: 30px;
    padding: 10px;
}

#search-btn{
    width: 100px;
    height: 30px;
}

.banner{
    width: 100%;
    height: 400px;
    background: url("../banner.jpg");
    background-position: center;
    background-size: 400px;
    background-repeat: repeat;
    position: relative;
}

.banner::after{
    content: 'FIND YOUR MOVIE';
    position: absolute;
    width: inherit;
    height: inherit;
    background: rgba(0, 0, 0, 0.352);
    color: white;
    font-weight: 700;
    font-size: 4rem;
    display: grid;
    place-content: center;
}

.show-search{
    /* background: blue; */
    padding: 10px;
    width: fit-content;
}

.greeting{
    margin: 0 auto;
    max-width: 350px;
    width: 80%;
    height: 200px;
    background: rgba(227, 227, 227, 0.409);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-weight: 700;
    color: #6b7280b1;
}


@media screen and (max-width: 480px){
    .wishlist-text{
        font-size: .8rem;
        padding-right: 10px;
    }

    #input-search{
        width: 60%;
    }

    #search-btn{
        width: 20%;
    }

    .banner::after{
        font-size: 1.2rem;
    }

    .greeting{
       height: 130px; 
    }

    .greeting p{
        font-size: .8rem;
    }

    .greeting img{
        width: 50px;
    }
}

@media screen and (min-width: 480px) and (max-width:640px) {
    #input-search{
        width: 200px;
    }
    
    .banner::after{
        font-size: 2.3rem;
    }
}